OLLAMA_MODEL="huggingface.co/speakleash/Bielik-11B-v3.0-Instruct-GGUF:Q8_0"
DATABASE_URL=
OPENAI_BASE_URL=http://localhost:11434/v1
COMFYUI_BASE_URL=http://localhost:8188
FRONTEND_URL=http://localhost:5174
CORS_ALLOW_ORIGINS=http://localhost:5174,http://localhost:5173,http://localhost:3000
SQL_ECHO=false
OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_INSECURE=true
